# Node 
node_modules/

# Python
.venv/
venv/
__pycache__/
*.pyc
.mypy_cache

# Raw data 
*.csv
*.dump
data/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
